.header {
  background-color: #0055cc;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 100;
}
.icon {
  width: 7.5rem;
}
.body,
.lists {
  height: 90vh;
}
.sidebar {
  background-color: rgb(167, 160, 160);
  height: 100%;
  min-width: 17rem;
  position: fixed;
}
.button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.3rem;
}
.flex1 {
  margin-left: 18rem;
}
.profile {
  padding: 4px 2px 4px 6px;
  border-radius: 50%;
  color: white;
  background-color: #033172;
  margin-left: auto;
  width: 2rem;
}
.board-btn {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;

  cursor: pointer;
}
.boards {
  flex-wrap: wrap;
  margin-left: 18rem;
  margin-top: 3.1rem;
}
.img {
  width: 100%;
}
.bod {
  width: 240px;
  height: 120px;
  border: solid;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  background-repeat: no-repeat;
  background-size: 300px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(202, 197, 197);
}

.list {
  width: 13rem;
  height: fit-content;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(219, 214, 214);
}
.add {
  cursor: pointer;
}
.threedot {
  cursor: pointer;
}
.delete {
  position: absolute;
  background-color: rgb(218, 209, 209);
  border-radius: 5%;
}
.addlistbtnss {
  height: 4.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 13rem;
}
.cardlist {
  box-shadow: 2px 2px 2px 1px rgb(202, 197, 197);
}
.cardbox {
  border-right: solid 2px rgb(178, 178, 194);
}
.cdf {
  width: 7.5rem;
  padding-right: 100%;
}
